[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/Chizaruu/hugo-bootstrap.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
