pre {
  border: 1px solid black;
  padding: 15px;
  background-color: #272822;
  color: #f8f8f2;
  background-color: #272822;
}

.language-diff, .language-py3 {
  background-color: #272822 !important;
}

body.colorscheme-dart code {
  background-color: #272822 !important;
}

.crossed-out-text {
  color: #f92672;
  text-decoration: line-through;
}

.new-text {
  color: #a6e22e
}

.data-pane {
  display: none;
}

.data-pane.active {
  display: inline;
}
